@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "./animation.css";

/** Paleta de colores */
:root {
  --color_1: rgba(255, 255, 255);
  --color_2: rgba(194, 194, 194);
  --color_3: rgba(77, 77, 77);
  --color_4: rgba(34, 34, 34);
  --color_5: rgba(149, 218, 247);
  --color_6: rgba(125, 158, 185, 1);
  --color_7: rgba(125, 158, 138, 0.6);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

/*! Inicio selecciones generales */

.header__sub_a:hover,
.main__header_img:hover {
  transform: scale(1.05);
}

.header__a:hover,
.header__button_cart:hover,
.icon:hover,
.main__product_img:hover {
  transform: scale(1.1);
}

/*! Final selecciones generales */

/*! Incio del Header */

.header {
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 0 5rem;
  color: var(--color_4);
  background-color: var(--color_6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.header__logo {
  width: 6rem;
  cursor: pointer;
}

.header__logo:hover {
  animation:vibrate 300ms infinite linear both;
}

.header__navbar {}

.header__ul {
  display: flex;
  gap: 3rem;
  width: 100%;
}

.header__li {
  position: relative;
}

.header__a {
  font-size: 1.2rem;
  transition: transform 300ms ease;
}

/** --- Inicio Submenú desplegable ---  */

.header__sub_ul {
  position: absolute;
  transition: opacity 300ms ease;
}

.header__sub_li {
  position: relative;
  top: 1.6rem;
  left: -2rem;
  overflow: hidden;
  background: var(--color_6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.header__sub_li:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
}

.header__sub_a {
  padding: 1em 2em;
  font-size: 1rem;
}

/** --- Final Submenú desplegable ---  */

/** --- Inicio Despliegue de submenú --- */

.header__sub_ul,
.header__sub_li {
  opacity: 0;
  visibility: hidden;
}

.header__sub_li {
  transition: transform 200ms ease;
}

.header__li:hover .header__sub_ul,
.header__li:hover .header__sub_li {
  opacity: 1;
  visibility: visible;
}

/** --- Final Despliegue de submenú --- */

.header__button_cart {
  position: relative;
  transition: transform 200ms ease;
  cursor: pointer;
}

.header__cart_img {
  width: 2.5rem;
}

/*! Final del Header */

/*! Inicio Cart */

.cart {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: absolute;
  width: 400px;
  height: 500px;
  border-radius: 20px;
  top: 5rem;
  right: -420px;
  /* background-color: var(--clr-4); */
  background: rgba(39, 70, 113, .4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: right 500ms ease;
}

.cart__title {
  text-align: center;
  margin: 25px auto;
  font-size: 25px;
  font-weight: 600;
}

.cart__products__container {
  z-index: 3;
  position: absolute;
  width: 90%;
  height: 80%;
  border-radius: 20px;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* background-color: var(--clr-1); */
  background: rgba(249, 250, 252, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.cart__empty_p {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 20%;
  font-size: 1rem;
}

.cart__empty_img {
  position: absolute;
  width: 50%;
  max-width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.cart__products {
  display: flex;
  flex-direction: column;
  height: 85%;
  border-radius: 22px;
  gap: 10px;
  overflow-y: scroll;
}

.cart__actions {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 10px auto;
  font-size: 10px;
}

.cart__actions_left {}

.cart__actions_empty {
  background-color: var(--clr-6);
  padding: 16px;
  border-radius: 16px;
  color: var(--clr-3);
  background: rgba(249, 250, 252, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  text-transform: uppercase;
  cursor: pointer;
}

.cart__actions_right {
  display: flex;
}

.cart__actions_total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 1rem 0 0 1rem;
  text-transform: uppercase;
  background: rgba(249, 250, 252, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.cart__info_amount {}

.cart__info_total {}

.cart__actions_buy {
  padding: 0 16px;
  border-radius: 0 16px 16px 0;
  color: var(--clr-2);
  /* background-color: var(--clr-3); */
  background: rgba(235, 74, 90, .5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  text-transform: uppercase;
  cursor: pointer;
}

.cart__actions_buy:hover,
.cart__actions_left:hover {
  transform: scale(1.05);
}

/*! Final Cart */

/*! Inicio del Main */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 8rem;
  margin-bottom: 30rem;
  background-color: var(--color_1);
  box-sizing: border-box;
}

.main__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10rem;
}

.main__h1 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.main__header_galery {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  position: absolute;
  width: 3rem;
  cursor: pointer;
}

.left_arrow {
  z-index: 5;
  left: 0;
}

.right_arrow {
  z-index: 5;
  right: 0;
}

.main__header_img {
  /* display: none; */
  z-index: 5;
  width: 80%;
  max-width: 35rem;
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  transition: transform 500ms ease;
  cursor: pointer;
}

.main__header_subimg_1 {
  position: absolute;
  width: 200px;
  left: -100px;
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.main__header_subimg_2 {
  position: absolute;
  width: 200px;
  right: -100px;
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.main__ul {
  display: flex;
  column-gap: 2rem;
  font-size: 1rem;
  margin-bottom: 5rem;
}

.main__ul:hover {}

.main__li {}

.main__products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1rem;
  width: 80%;
  max-width: 700px;
}

.main__product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main__product_img {
  transition: transform 300ms ease;
}

.main__product_description {
  z-index: 5;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--color_6);
}

.main__product_title {
  font-size: 1rem;
  font-weight: 900;
}

.main__product_p {
  font-size: 1rem;
}

.main__product_button_add {
  height: 2rem;
  border: 2px solid var(--color_1);
  border-radius: 1rem;
  cursor: pointer;
  background-color: var(--color_1);
  transition: background-color 300ms ease;
}

.main__product_button_add:hover {
  background-color: var(--color_6);
}

/** --- Inicio del Footer --- */

.footer {
  width: 100%;
  height: 10rem;
  margin-top: 5rem;
  background-color: var(--color_6);
}

/** --- Final del Footer --- */

/*! Final del Main */

/*! Inicio Actives */

.displacement_left {
  z-index: 1;
  right: 1rem;
  top: 5rem;
  display: flex;
}

/*! Final Actives */